@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// nprogress
body #nprogress .bar {
  background-color: #13c2c2;
}

body #nprogress .spinner {
  top: 23px;
}

body #nprogress .spinner-icon {
  border-top-color: #13c2c2;
  border-left-color: #13c2c2;
}

.editor-toolbar {
  line-height: normal;
}

span.joypixels {
  margin: 0 !important;
  transform: scale(0.75, 0.75);
  transform-origin: left;
}

img.joypixels {
  width: 18px;
  height: 18px;
  margin: -3px .1em 0 .1em;

}

.markdown-body table {
  margin-bottom: 16px;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

@media (max-width: @screen-md) {
  body {
    .ant-pro-global-header-logo {
      padding-left: 12px;
    }

    .ant-pro-sider-menu-logo {
      padding-left: 12px;
    }

    .ant-pro-sider-menu-sider {
      .ant-menu-item {
        padding-left: 12px !important;
      }
    }

    .antd-pro-components-global-header-index-right {
      right: 0;
    }

    .ant-page-header {
      padding: 12px;
    }

    .ant-page-header-heading-extra {
      right: 12px;
    }

    .ant-pro-page-header-wrap-children-content {
      margin: 12px 0;
    }

    .ant-card-body {
      padding: 12px;
    }

    .ant-pro-global-footer {
      padding: 0 12px;
    }
  }
}

// 定宽模式样式覆盖
@media (min-width: @screen-xl) {
  .ant-pro-grid-content.wide > .ant-page-header {
    padding: 16px 0;
  }

  .ant-pro-grid-content.wide > .ant-pro-page-header-wrap-children-content {
    margin: 24px 0 0 0;
  }

  .ant-pro-grid-content.wide .ant-page-header-heading-extra {
    top: 38px;
    right: 0;
  }
}

@media (max-width: @screen-xl) {
  .ant-pro-top-nav-header-main.wide .ant-pro-top-nav-header-logo {
    padding-left: 24px;
  }
}
